# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
env_msml/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS metadata
.DS_Store
Thumbs.db

# MLflow (opsional untuk kriteria 1, tapi penting untuk kriteria 2)
mlruns/
mlartifacts/